<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025709610343-onmcjqp8j63p7b2kvekid5or57pmatbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025709610343-onmcjqp8j63p7b2kvekid5or57pmatbp</string>
	<key>API_KEY</key>
	<string>AIzaSyAs5ctGaUFuBw4T3B7bdpPLEykp2ZrQFUI</string>
	<key>GCM_SENDER_ID</key>
	<string>1025709610343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iotFirestoreFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>iot-firestore-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-firestore-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025709610343:ios:9c6a75f3b40a4380a74bc2</string>
</dict>
</plist>